<div class="blackjack-table">
    <div class="chips-area">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    
    <div class="dealer-area">
        <div class="cards-container">

        </div>
    </div>
    
    <div class="player-area">
        <div class="cards-container">

        </div>

        <div id="title" style="display: flex;flex-direction: column;">
            <span >BLACK &nbsp; JACK</span>
            <span>&nbsp;&nbsp;PAYS 3 TO 2</span>
        </div>

        <h2 id="must">Dealer must stand on 17 and must draw to 16</h2>
        <h2 id="insurance">2 TO 1  INSURANCE PAYS   2 TO 1</h2>
    </div>
    <div class="player-area-upperline"></div>

    <div class="betting-area">
        <div class="bets-container">
            <span class="bets"></span>
            <span class="bets"></span>
            <span class="bets"></span>
            <span class="bets"></span>
            <span class="bets"></span>
        </div>
    </div>

</div>

<script src="/assets/js/adjustTableText.js"></script>
<script src="/assets/js/rotateCardsAndBets.js"></script>

